<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>

<body>
    <h1>All Categories</h1>
    <ul>
        <!-- כאן אנחנו עובר על כל הקטגוריות ומציגים אותן ברשימה -->
        <% categories.forEach(function(category) { %>
            <li><%= category.pname %></li>
        <% }); %>
    </ul>
</body>

</html>
