<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<h1>Login Successful!</h1>
<p>Welcome, you've successfully logged in.</p>
<p>Your token is: <%= token %></p>

<%- include('../partials/footer') %>
